.container {
    width: 100vw;
    height: 25vh;
    display: flex;
    border: 20px solid black;
}
.box1 {
    flex-grow: 1;
    background-color: green;
}
.box2 {
    flex-grow: 1;
    background-color: grey;
}
.box3 {
    flex-grow: 1;
    background-color: darkorange;
}
