* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
} 

.inner-header {
    width: 30%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h1 {
    height: 2.5rem;

    color: lightgray;
}

.inner-header-content {
    height: 4rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-header-content a {


    font-size: x-large;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;

    background-color: lightgray;
    color: darkgray;
    font-style: italic;
}