h1 {
 
color: red;
font-family: sans-serif;
font-size: medium;
margin: 10px;

}

h2 {

color: red;
font-family: sans-serif;
font-size: medium;
margin: 10px;
}

h3 {

color: red;
font-family: sans-serif;
font-size: medium;
margin: 10px;
}

h4 {

color: red;
font-family: sans-serif;
font-size: medium;
margin: 10px;
}

h5 {

color: red;
font-family: sans-serif;
font-size: medium;
margin: 10px;
}

h6 {

color: red; 
font-family: sans-serif;
font-size: medium;
margin: 10px;
}

